.App { 
  display: flex;
  flex-direction: column;
}

.creating-card {
  display: flex;
  height: 650px;
}

.created-cards {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.cards {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}